<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>137.11.0.108132</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {440, 465}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{440, 465}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-01-21 02:55:27 +0800</string>
	<key>Creator</key>
	<string>Vaisagh Viswanathan</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 pt</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{92, 312}, {39, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>120</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.34</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>119</integer>
			<key>Points</key>
			<array>
				<string>{217, 232}</string>
				<string>{48, 370}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>Pattern</key>
					<integer>3</integer>
					<key>TailArrow</key>
					<string>StickArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{208, 183}, {18, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>118</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.17</string>
						<key>b</key>
						<string>0.0765306</string>
						<key>g</key>
						<string>0.0765306</string>
						<key>r</key>
						<string>0.0765306</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>113</integer>
			<key>Points</key>
			<array>
				<string>{216, 141}</string>
				<string>{218, 324}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>Pattern</key>
					<integer>3</integer>
					<key>TailArrow</key>
					<string>StickArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>87</integer>
			</dict>
			<key>ID</key>
			<integer>105</integer>
			<key>Points</key>
			<array>
				<string>{217.5, 232.5}</string>
				<string>{217.5, 232.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>StickArrow</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>78</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{373, 6}, {45, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>94</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Group}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>73</integer>
			</dict>
			<key>ID</key>
			<integer>35</integer>
			<key>Points</key>
			<array>
				<string>{376, 14}</string>
				<string>{329.316, 51.6256}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{301.471, 213.815}, {87, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>92</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>88</integer>
				<key>Offset</key>
				<real>6</real>
				<key>Position</key>
				<real>0.59254920482635498</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.65</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Sensor Range}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>88</integer>
			<key>Points</key>
			<array>
				<string>{220, 233}</string>
				<string>{431, 231}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>StickArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{80, 417}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>86</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{62, 419}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>85</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{62, 433}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>84</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{71, 425}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>83</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{29, 418}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>82</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{29, 432}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>81</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{38, 424}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>80</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{287, 51}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>72</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{287, 65}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>71</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{296, 57}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{326, 67}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>69</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{307, 69}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>68</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{307, 83}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>67</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{316, 75}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>66</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{310, 43}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>65</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{310, 57}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>64</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{319, 49}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>63</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{145, 370}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>62</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{127, 372}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{127, 386}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{136, 378}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>59</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{94, 371}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>58</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{94, 385}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>57</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{103, 377}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>56</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{180, 177}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>48</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{163, 161}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>47</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{163, 174}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>46</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{172, 167}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>45</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{259, 287}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>44</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{240, 289}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>43</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{240, 303}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>42</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{249, 295}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>41</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{191, 289}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>40</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{191, 302}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>39</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{200, 294}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{232, 238}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>34</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{196, 232}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>33</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{213, 247}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>32</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{213.5, 228}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>31</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{191, 222}, {8, 9}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{283, 43}, {52, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>73</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{158, 159}, {34, 31}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>74</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{234, 281}, {34, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>75</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{186, 288}, {23, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>76</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91, 354}, {65, 59}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>77</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{189, 204}, {57, 57}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Clip</string>
			<key>Flow</key>
			<string>Clip</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.0510204</string>
					<key>g</key>
					<string>0.0510204</string>
					<key>r</key>
					<string>0.0510204</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>78</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>tiff</key>
						<data>
						TU0AKgAAAQgAAABeAAAAXgAAAF4A
						AABeAAAAXgAAAF7/////AAAAXgAA
						AF4AAABeAAAAXgAAAF4AAABe////
						/wAAAF4AAABeAAAAXgAAAF4AAABe
						AAAAXv////8AAABeAAAAXgAAAF4A
						AABeAAAAXgAAAF7/////AAAAXgAA
						AF4AAABeAAAAXgAAAF4AAABe////
						/wAAAF4AAABeAAAAXgAAAF4AAABe
						AAAAXv////8AAABeAAAAXgAAAF4A
						AABeAAAAXgAAAF7/////AAAAXgAA
						AF4AAABeAAAAXgAAAF4AAABeAAAA
						XgAAAF4AAABeAAAAXgAAAF4AAABe
						AAAAXgAAAF7/////AA4BAAADAAAA
						AQAIAAABAQADAAAAAQAIAAABAgAD
						AAAABAAAAbYBAwADAAAAAQABAAAB
						BgADAAAAAQACAAABEQAEAAAAAQAA
						AAgBEgADAAAAAQABAAABFQADAAAA
						AQAEAAABFgADAAAAAQAIAAABFwAE
						AAAAAQAAAQABHAADAAAAAQABAAAB
						UgADAAAAAQABAAABUwADAAAABAAA
						Ab6HcwAHAAAYmAAAAcYAAAAAAAgA
						CAAIAAgAAQABAAEAAQAAGJhhcHBs
						AhAAAG1udHJSR0IgWFlaIAfbAAEA
						BwAKACUAEWFjc3BBUFBMAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAD2
						1gABAAAAANMtYXBwbAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAEWRl
						c2MAAAFQAAAAYmRzY20AAAG0AAAA
						8GNwcnQAAAKkAAAA0Hd0cHQAAAN0
						AAAAFHJYWVoAAAOIAAAAFGdYWVoA
						AAOcAAAAFGJYWVoAAAOwAAAAFHJU
						UkMAAAPEAAAIDGFhcmcAAAvQAAAA
						IHZjZ3QAAAvwAAAGEm5kaW4AABIE
						AAAGPmNoYWQAABhEAAAALG1tb2QA
						ABhwAAAAKGJUUkMAAAPEAAAIDGdU
						UkMAAAPEAAAIDGFhYmcAAAvQAAAA
						IGFhZ2cAAAvQAAAAIGRlc2MAAAAA
						AAAACERpc3BsYXkAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAABtbHVjAAAAAAAAABIA
						AAAMbmxOTAAAAAgAAADoZGFESwAA
						AAgAAADocGxQTAAAAAgAAADoZW5V
						UwAAAAgAAADobmJOTwAAAAgAAADo
						ZnJGUgAAAAgAAADocHRCUgAAAAgA
						AADocHRQVAAAAAgAAADoemhDTgAA
						AAgAAADoZXNFUwAAAAgAAADoamFK
						UAAAAAgAAADocnVSVQAAAAgAAADo
						c3ZTRQAAAAgAAADoemhUVwAAAAgA
						AADoZGVERQAAAAgAAADoZmlGSQAA
						AAgAAADoaXRJVAAAAAgAAADoa29L
						UgAAAAgAAADoAGkATQBhAGN0ZXh0
						AAAAAENvcHlyaWdodCBBcHBsZSwg
						SW5jLiwgMjAxMQAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAWFlaIAAA
						AAAAAPNSAAEAAAABFs9YWVogAAAA
						AAAAcisAADstAAACElhZWiAAAAAA
						AABgUgAAt6YAABAtWFlaIAAAAAAA
						ACRZAAANLgAAwO5jdXJ2AAAAAAAA
						BAAAAAAFAAoADwAUABkAHgAjACgA
						LQAyADYAOwBAAEUASgBPAFQAWQBe
						AGMAaABtAHIAdwB8AIEAhgCLAJAA
						lQCaAJ8AowCoAK0AsgC3ALwAwQDG
						AMsA0ADVANsA4ADlAOsA8AD2APsB
						AQEHAQ0BEwEZAR8BJQErATIBOAE+
						AUUBTAFSAVkBYAFnAW4BdQF8AYMB
						iwGSAZoBoQGpAbEBuQHBAckB0QHZ
						AeEB6QHyAfoCAwIMAhQCHQImAi8C
						OAJBAksCVAJdAmcCcQJ6AoQCjgKY
						AqICrAK2AsECywLVAuAC6wL1AwAD
						CwMWAyEDLQM4A0MDTwNaA2YDcgN+
						A4oDlgOiA64DugPHA9MD4APsA/kE
						BgQTBCAELQQ7BEgEVQRjBHEEfgSM
						BJoEqAS2BMQE0wThBPAE/gUNBRwF
						KwU6BUkFWAVnBXcFhgWWBaYFtQXF
						BdUF5QX2BgYGFgYnBjcGSAZZBmoG
						ewaMBp0GrwbABtEG4wb1BwcHGQcr
						Bz0HTwdhB3QHhgeZB6wHvwfSB+UH
						+AgLCB8IMghGCFoIbgiCCJYIqgi+
						CNII5wj7CRAJJQk6CU8JZAl5CY8J
						pAm6Cc8J5Qn7ChEKJwo9ClQKagqB
						CpgKrgrFCtwK8wsLCyILOQtRC2kL
						gAuYC7ALyAvhC/kMEgwqDEMMXAx1
						DI4MpwzADNkM8w0NDSYNQA1aDXQN
						jg2pDcMN3g34DhMOLg5JDmQOfw6b
						DrYO0g7uDwkPJQ9BD14Peg+WD7MP
						zw/sEAkQJhBDEGEQfhCbELkQ1xD1
						ERMRMRFPEW0RjBGqEckR6BIHEiYS
						RRJkEoQSoxLDEuMTAxMjE0MTYxOD
						E6QTxRPlFAYUJxRJFGoUixStFM4U
						8BUSFTQVVhV4FZsVvRXgFgMWJhZJ
						FmwWjxayFtYW+hcdF0EXZReJF64X
						0hf3GBsYQBhlGIoYrxjVGPoZIBlF
						GWsZkRm3Gd0aBBoqGlEadxqeGsUa
						7BsUGzsbYxuKG7Ib2hwCHCocUhx7
						HKMczBz1HR4dRx1wHZkdwx3sHhYe
						QB5qHpQevh7pHxMfPh9pH5Qfvx/q
						IBUgQSBsIJggxCDwIRwhSCF1IaEh
						ziH7IiciVSKCIq8i3SMKIzgjZiOU
						I8Ij8CQfJE0kfCSrJNolCSU4JWgl
						lyXHJfcmJyZXJocmtyboJxgnSSd6
						J6sn3CgNKD8ocSiiKNQpBik4KWsp
						nSnQKgIqNSpoKpsqzysCKzYraSud
						K9EsBSw5LG4soizXLQwtQS12Last
						4S4WLkwugi63Lu4vJC9aL5Evxy/+
						MDUwbDCkMNsxEjFKMYIxujHyMioy
						YzKbMtQzDTNGM38zuDPxNCs0ZTSe
						NNg1EzVNNYc1wjX9Njc2cjauNuk3
						JDdgN5w31zgUOFA4jDjIOQU5Qjl/
						Obw5+To2OnQ6sjrvOy07azuqO+g8
						JzxlPKQ84z0iPWE9oT3gPiA+YD6g
						PuA/IT9hP6I/4kAjQGRApkDnQSlB
						akGsQe5CMEJyQrVC90M6Q31DwEQD
						REdEikTORRJFVUWaRd5GIkZnRqtG
						8Ec1R3tHwEgFSEtIkUjXSR1JY0mp
						SfBKN0p9SsRLDEtTS5pL4kwqTHJM
						uk0CTUpNk03cTiVObk63TwBPSU+T
						T91QJ1BxULtRBlFQUZtR5lIxUnxS
						x1MTU19TqlP2VEJUj1TbVShVdVXC
						Vg9WXFapVvdXRFeSV+BYL1h9WMtZ
						GllpWbhaB1pWWqZa9VtFW5Vb5Vw1
						XIZc1l0nXXhdyV4aXmxevV8PX2Ff
						s2AFYFdgqmD8YU9homH1YklinGLw
						Y0Njl2PrZEBklGTpZT1lkmXnZj1m
						kmboZz1nk2fpaD9olmjsaUNpmmnx
						akhqn2r3a09rp2v/bFdsr20IbWBt
						uW4SbmtuxG8eb3hv0XArcIZw4HE6
						cZVx8HJLcqZzAXNdc7h0FHRwdMx1
						KHWFdeF2Pnabdvh3VnezeBF4bnjM
						eSp5iXnnekZ6pXsEe2N7wnwhfIF8
						4X1BfaF+AX5ifsJ/I3+Ef+WAR4Co
						gQqBa4HNgjCCkoL0g1eDuoQdhICE
						44VHhauGDoZyhteHO4efiASIaYjO
						iTOJmYn+imSKyoswi5aL/IxjjMqN
						MY2Yjf+OZo7OjzaPnpAGkG6Q1pE/
						kaiSEZJ6kuOTTZO2lCCUipT0lV+V
						yZY0lp+XCpd1l+CYTJi4mSSZkJn8
						mmia1ZtCm6+cHJyJnPedZJ3SnkCe
						rp8dn4uf+qBpoNihR6G2oiailqMG
						o3aj5qRWpMelOKWpphqmi6b9p26n
						4KhSqMSpN6mpqhyqj6sCq3Wr6axc
						rNCtRK24ri2uoa8Wr4uwALB1sOqx
						YLHWskuywrM4s660JbSctRO1irYB
						tnm28Ldot+C4WbjRuUq5wro7urW7
						LrunvCG8m70VvY++Cr6Evv+/er/1
						wHDA7MFnwePCX8Lbw1jD1MRRxM7F
						S8XIxkbGw8dBx7/IPci8yTrJuco4
						yrfLNsu2zDXMtc01zbXONs62zzfP
						uNA50LrRPNG+0j/SwdNE08bUSdTL
						1U7V0dZV1tjXXNfg2GTY6Nls2fHa
						dtr724DcBdyK3RDdlt4c3qLfKd+v
						4DbgveFE4cziU+Lb42Pj6+Rz5Pzl
						hOYN5pbnH+ep6DLovOlG6dDqW+rl
						63Dr++yG7RHtnO4o7rTvQO/M8Fjw
						5fFy8f/yjPMZ86f0NPTC9VD13vZt
						9vv3ivgZ+Kj5OPnH+lf65/t3/Af8
						mP0p/br+S/7c/23//3BhcmEAAAAA
						AAMAAAACZmYAAPKnAAANWQAAE9AA
						AArAdmNndAAAAAAAAAAAAAMBAAAC
						AAAADgBBAKABHgGdAjkC6wOtBIEF
						YwZWB1gIYgmCCpwLxQz3Dh0PTxB9
						Ea8S1hP8FRQWLBc5GE8ZXhp0G4wc
						pR2/HtYf4yDtIfEi8CPpJOIl1ybL
						J74orymhKpIrgSxwLV4uTy8+MDAx
						KDIdMxU0DjUENfk26zfeONE5wjqy
						O6I8kj1/Pm0/XEBKQTZCI0MPQ/lE
						4UXJRrBHlkh8SWFKRUsoTAtM7E3P
						TrNPmFCAUW1SXFNMVD1VLVYcVwpX
						91jjWc9au1umXJFde15lX1JgQ2E4
						YjFjLGQnZSNmHmcXaBFpCmoBavhr
						72zlbdxu1G/QcNBx1XLdc+d08nX9
						dwd4EXkbeiN7K3wyfTh+Pn9AgECB
						PII0gyqEH4UShgWG+IfpiNqJy4q8
						i6uMm42LjnyPb5BnkWSSZpNrlHKV
						epaCl4mYj5mVmpqbn5yjnaeeq5+z
						oL2hy6Lbo+6lAqYVpymoPalPqmKr
						dayHrZiuq6+9sNGx57L9tBS1K7ZB
						t1e4bLmAupS7p7y6vc++58AFwSvC
						WsOQxMrGB8dFyILJv8r8zDjNcs6r
						z+LRE9JC027Ul9W/1ubYDNky2lfb
						fNyh3cbe7OAV4UPideOr5OLmGedP
						6IXpueru7CLtVO6B76Xwu/HA8rXz
						ofSH9Wr2TPcu+BD48vnU+rb7mPx6
						/Vv+Pf8e//8AAAAMADgAiQECAXQC
						BQKnA18EKAUABeIG3gfXCOIJ9gsC
						DB8NQA5hD4IQohHBEtoT6RT1FgMX
						CBgYGSQaNBtIHFgdZR5uH3AgaSFh
						IlEjPyQtJRgmACbrJ9QouymiKogr
						byxULTguHS8CL+kw0jG9MqgzlDSB
						NWw2VTc+OCg5EDn1Ots7wTymPYs+
						bz9SQDVBF0H5QtlDuESXRXZGVUcy
						SA5I6knFSqBLe0xVTS9OCE7jT8BQ
						oFGEUmlTUVQ3VR9WBlbtV9JYt1mb
						Wn9bY1xHXSpeDV7yX9pgxmG1Yqdj
						nGSQZYVmeWduaGFpVGpGazhsKW0b
						bg1vAm/5cPRx8nL0c/h0/nYCdwd4
						C3kOehB7E3wVfRZ+Fn8UgBCBCIH9
						gvCD4YTRhcCGr4ediIyJeYpni1SM
						QY0ujhyPDJAAkPiR9ZL1k/iU/ZYB
						lwWYCZkNmhCbEpwUnReeGp8eoCah
						MKI/o1CkYqV0poenmaiqqbuqy6vb
						rOqt+q8KsByxL7JFs1y0c7WLtqO3
						u7jSuem6/7wWvS6+SL9owI/Bv8L5
						xDvFf8bGyAvJUcqXy9vNH85iz6PQ
						4dIc01TUi9XB1vfYK9lf2pPbyNz8
						3jPfbeCs4fLjQOSS5ebnO+iQ6eTr
						N+yJ7dnvIvBi8ZjyxPPo9Qb2Ifc7
						+FX5bvqH+5/8t/3P/uf//wAAAAsA
						MQB4AOIBUgHXAmYDCAO3BHcFRgYh
						BwYIAQj3CgELBAwaDTIORw9mEIER
						nxK3E9EU5BX/FxcYOBlWGncbmBy1
						Hcoe2h/hIOAh2iLNI8EksiWiJpIn
						gShwKV0qSCszLB8tBy3xLtsvxTCv
						MZwyiTN3NGY1UjY+Nyk4Ezj8OeU6
						zTu0PJs9gT5lP0lALEEOQe5CzUOr
						RIlFZ0ZFRyBH+0jWSbBKiUtiTDtN
						Ek3pTsFPm1B3UVZSN1MZU/xU31XB
						VqJXg1hkWURaI1sCW+Bcvl2cXntf
						XGBAYSZiEGL9Y+pk2GXFZrFnnmiJ
						aXRqX2tJbDNtHW4IbvRv43DWccxy
						xnPCdL51u3a2d7J4rXmoeqJ7m3yU
						fY1+hH95gGuBWYJEgy2EFYT8heOG
						yYeviJSJeYpei0KMJo0Kje+O1Y++
						kKuRnpKVk4+Ui5WGloGXe5h1mW+a
						aJtgnFidUZ5Kn0WgRKFGokyjVaRg
						pWumdqeBqIuplqqgq6qstK2+rsev
						07Dgse+y/7QQtSG2MrdDuFS5Zbp2
						u4a8lr2ovry/2MD9wi7DZsSkxebH
						KMhqyazK7cwtzW3OrM/q0SXSX9OX
						1M7WBdc62HDZptrd3BLdSt6E38Ph
						DeJf47rlG+Z+5+PpR+qs7BHteO7f
						8EnxtfMi9JD1//dt+Nz6Svu3/SX+
						kv//AABuZGluAAAAAAAABjYAAKT3
						AABWhwAATi4AAKEmAAAlUwAADRQA
						AFANAABUOQACBR4AAd64AAHKPQAD
						AQAAAgAAAAYADwAZACQAMAA9AEoA
						WQBnAHcAiACZAKsAvwDTAOkA/wEX
						ATEBTAFqAYkBqwHNAfICFwI+AmUC
						jwK5AuYDFgNIA30DtQPwBC0EbQSv
						BPQFOwWEBdAGHgZvBsEHFgdsB8II
						Gwh1CNEJMAmSCfcKXgrHCzQLowwU
						DIkNAA15DfUOdA71D3kQARCMERoR
						rBJAEtgTcxQRFLIVVxX9FqUXThf2
						GJ4ZSBn0GqMbVRwLHMQdgB4/HwEf
						xiCOIVkiJCLuI7ckfyVIJhMm4Cex
						KIUpWyo1KxIr8izVLbouoS+IMG0x
						UDIyMxQz9zTcNcQ2rjebOIo5fTpy
						O2o8ZT1jPmc/cECAQZZCsUPQRPNG
						GUdDSHBJoErUTAtNRU6CT8BQ/VI2
						U2tUnVXOVv9YMllnWp9b210aXltf
						oGDoYjJjfmTJZhNnWmihaedrLmx3
						bcJvD3BfcbJzB3Redbh3FXhzedN7
						M3yUffV/WIC9giWDj4T9hm2H4YlX
						itCMS43Hj0GQtpIkk4uU65ZHl6GY
						+ppVm7GdD55vn9GhNaKcpAaldKbm
						qF6p3KtfrOeudLADsZazK7TDtl23
						+rmauzy8376CwCTBwsNdxPXGjMgj
						ybzLWMz3zpjQPNHi04rVNdbm2KLa
						cNxX3mDgi+LR5Sfnhunp7E/uuPEk
						85T2B/h/+vv9e///AAAABwARABwA
						KAA1AEMAUQBhAHEAggCVAKgAvADR
						AOgA/wEZATMBUAFvAZABsgHXAfwC
						IwJLAnQCnwLMAvsDLQNjA5sD1wQW
						BFcEmwTiBSoFdgXEBhUGaAa+BxcH
						cgfPCC4IjgjwCVQJugojCo8K/gtv
						C+MMWwzVDVIN0g5VDtsPZA/wEH8R
						EhGoEkES3RN9FCAUxxVxFh4WzxeD
						GDoY8hmrGmMbHBvWHJMdUh4UHtof
						oyBwIUAiEyLpI8IkniV6JlUnLygJ
						KOIpviqcK30sYC1HLjEvHjAOMQEx
						9jLtM+Q02jXONsE3tDinOZ06lTuQ
						PI49jz6SP5hAoUGtQr1D0kTtRg5H
						NUhiSZNKyEwATTxOek+9UQJSS1OW
						VORWM1eBWMtaEVtUXJZd2F8bYGJh
						q2L3ZEZlmGbtaEVpnmr5bFNtrG8C
						cFZxqnL/dFd1sHcMeGx5znsyfJp+
						BX9ygOCCT4O+hS2GnIgLiXyK74xk
						jdyPVpDTklKT1JVWltmYWZnUm0ic
						s54Wn3Sg0KIro4ek5aZEp6apCapv
						q9etQa6vsCCxlbMQtI62EbeWuR+6
						qbw2vcW/V8Dqwn/EFsWsx0HI0spg
						y+jNas7q0GjR59Nm1OfWadfu2XXa
						/tyK3hvfs+FW4wbkxOaQ6GnqTOw2
						7iPwFPII8//1+Pf0+fP79f35//8A
						AAAIABMAIAAuAD0ATQBeAG8AggCV
						AKoAvwDVAO0BBQEfAToBVgF1AZQB
						tgHYAfwCIAJGAm0ClQK/AusDGgNL
						A4ADuAPzBDIEcgS2BPsFQwWNBdoG
						KgZ8BtAHKAeBB90IOwibCPwJYAnF
						Ci4KmQsHC3gL7AxiDNwNWA3XDloO
						4A9pD/UQhREZEbASShLnE4gULRTU
						FYAWLxbhF5gYURkMGcgahBtBG/8c
						wB2EHkwfFx/lILchjCJlI0EkISUD
						JeYmyCeqKIspbCpQKzcsIS0OLf4u
						8i/pMOMx4DLgM+E04zXkNuI34Djd
						Ods63DvgPOc98D79QAxBH0I1Q01E
						akWNRrVH5kkdSllLm0zgTilPdVDF
						UhlTcFTLVilXi1jtWk9brF0EXlhf
						qmD9YlNjrGUIZmdnymkwappsBm10
						buRwUnG+cyd0jXXyd1h4wHoqe5d9
						B355f+2BZYLfhFuF2odZiNiKV4vW
						jVaO2JBckeKTa5T2loSYFJmnmzyc
						0Z5ln/Ghc6LrpFulxqcuqJSp/Ktm
						rNGuP6+vsSCylLQLtYS3ALiAugO7
						ir0VvqLAMcHDw1fE7MaDyBzJt8tT
						zO3OhtAa0aXTKdSn1iDXltkM2oHb
						+N1w3ungZOHf41rk1+ZT58/pS+rH
						7EPtwO898LzyPPO99UD2xPhK+dL7
						W/zl/nL//wAAc2YzMgAAAAAAAQxC
						AAAF3v//8yYAAAeSAAD9kf//+6L/
						//2jAAAD3AAAwGxtbW9kAAAAAAAA
						BhAAAJy8AAAAAMZoX10AAAAAAAAA
						AAAAAAAAAAAA
						</data>
					</dict>
					<key>FillType</key>
					<integer>3</integer>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red13\green13\blue13;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs18 \cf2 Region 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>TextRelativeArea</key>
			<string>{{0.1, 0.15}, {0.8, 0.7}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{125, 140}, {185, 185}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>79</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.25</string>
						<key>g</key>
						<string>0.25</string>
						<key>r</key>
						<string>0.25</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Pad</key>
				<integer>20</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr\pardirnatural

\f0\fs24 \cf0 Region 2    }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{4, 6}, {427, 453}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>87</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Region 3}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>1</real>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.</string>
		<string>image2.</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>YES</string>
	<key>MagnetsVisible</key>
	<string>YES</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-02-01 23:02:05 +0800</string>
	<key>Modifier</key>
	<string>Vaisagh Viswanathan</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{468, 382}, {705, 666}}</string>
		<key>ListView</key>
		<false/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>116</integer>
		<key>VisibleRegion</key>
		<string>{{-67, -23}, {574, 512}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>8</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
